<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Frases de Chiquito</title>
  </head>
  <body>
    <header>
      <h1>Frases de Chiquito de la Calzada</h1>
    </header>
    <table style="width: 100%" border="1">
      <tbody>
        <tr>
          <td><a href="/api/1.0/jokes" target="_top" title="todas las frases en json">/api/1.0/jokes</a></td>
          <td>las frases en json</td>
        </tr>
        <tr>
          <td><a href="/api/1.0/jokes/300" title="frase número 300" target="_top">/api/1.0/jokes/&lt;número&gt;</a></td>
          <td>la frase indicada ( un valor entre 1 y 1357)</td>
        </tr>
        <tr>
          <td><a href="/api/1.0/jokes/random" target="_top" title="frase al azar">/api/1.0/jokes/random</a></td>
          <td>una frase al azar</td>
        </tr>
        <tr>
          <td><a href="/web" target="_top" title="todas las frases en texto">/web</a></td>
          <td>todas las frases</td>
        </tr>
        <tr>
          <td>
            <form action="/web/search" method="post">
		    Buscar palabra <input type="text" name="palabra" placeholder="Pecador!"/>
  		    <br/>
  		    <input type="submit" value="Enviar" />
		    </form>
          </td>
          <td>frases con la palabra buscada</td>
        </tr>
        <tr>          

      </tr>
      </tbody>
    </table>
  </body>
</html>
